.caja{
    height: 300px;
    width: 300px;
    margin-top: 8%;
    background-color: #f3eeee;
    transition: .5s; 
}
.caja:hover{
    transform: scale(1.02);
    box-shadow: 0px 0px 10px black;
}
.zaa{
    height: 300px;
    object-fit: scale-down;
    display: block;
    margin: 0 auto;
}

.caja:hover .detalles {
    transition: .7s;

}
.btn-comprar{
    height: 40px;
    width: 300px;
    display: block;
    background-color: rgb(171, 171, 171);
    border: none;
    cursor: pointer;
    transition: .26s;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
}
.btn-comprar:hover{
    color: white;
    background-color: #3b64e9;
    padding: 0 55px;
}


