.boxis{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1a1a1a;
    padding-bottom: 60px
}
.iniciar-sesion{
    display: flex;
    align-items: center;
    flex-direction: column;
    height: auto;
    width: auto;
    background: linear-gradient(15deg,#5454d6,#0e0e6a);
    /* background-color: #040d89; */
    margin-top: 40px;
    padding: 50px 70px;
    border-radius: 20px;
    transition: .4s;
}
.iniciar-sesion h1{
    margin-top: 20px;
    color: #ffffff;
    font-family: 'Tilt Neon', sans-serif;
}
.iniciar-sesion:hover{
    box-shadow: 0px 0px 30px #4a4949;
}
.iscaja input{
    height: 35px;
    width: 300px;
    display: flex;
    margin-top: 40px;
    flex-direction: column;
    transition: .4s;
}
.iscaja input:focus {
    
    background-color: #d6e1ec;
}

.isbtn {
    display: flex;
    font-size: 15px;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 150px;
    border: none;
    border-radius: 20px;
    background-color: rgb(222, 229, 242);
    cursor: pointer;
    margin: 50px auto;
    border: none;
    transition: .4s;
}
.isbtn:hover{
    width: 300px;
    color: rgb(0, 0, 0);
    background-color: rgb(140, 152, 147);
}
.mensaje{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

