*{
    padding: 0;
    margin: 0;
}
.main-barra {
    display: flex;
    justify-content: space-between;
    height: 70px;
    background-color: #6E77EE;
    align-items: center;
}
.main-barra h1 {
    margin-left: 5vw;
}
.main-barra-links{
    display: flex;
    align-items: center;
    gap: 3vw;
    margin-right: 8vw;
}
.main1{
    height: 100vh;
    width: 100%;
    background-color: #F9FAF5;
    margin: 0;
}
.custom-shape-divider-bottom-1686963139 {
    position: absolute;
    bottom: -76px;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1686963139 svg {
    position: relative;
    display: block;
    width: calc(128% + 1.3px);
    height: 150px;
}

.custom-shape-divider-bottom-1686963139 .shape-fill {
    fill: #6E77EE;
}
.main1 .parrafo1 {
    padding-top: 40px;
    font-weight: 600;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 40px;
}
.main1 .parrafo2{
    font-family: 'Montserrat', sans-serif;
    font-size: 40px;
    padding-top: 40px;
    text-align: center;
}
.main1 .img1 {
    padding-top: 10vh;
    max-height: 35vh;
    display: block;
    margin: 0 auto;
}
.main2 {
    margin-top: .3%;
    height: 75vh;
    background-color: #6E77EE;
}
.cajas{
    display: flex;
    justify-content: space-evenly;
    padding-top: 5%;
}
.parrafo3{
    padding-top: 50px;
    color: white;
    letter-spacing: 1.2px;
    font-size: 55px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

.main3{
    height: 45vh;
    background-image: linear-gradient(#6E77EE,#F9FAF5) ;
}
.cajamain3{
    padding-top: 50px;
    height: 300px;
    width: 100%;
    background-color: #6E77EE;
}
.parrafo4{
    color: white;
    font-size: 40px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    padding: 0 70px;
}
.btn-registrar{
    display: flex;
    margin: 60px auto;
    height: 50px;
    width: 250px;
    background-color: #F9FAF5;
    color: black;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    border-radius: 20px;
    transition: .5s;
}
.btn-registrar:hover{
    width: 350px;
    background-color: #B7BAC5;
}
.usuarios{
    height: 40vh;
    width: 100%;
    background-color: #F9FAF5;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container-comentarios {
    width: 90%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* gap: 2em; */
}
.footer{
    height: 120px;
    background-color: #6E77EE;
    color: #F9FAF5;
    font-family: 'Roboto', sans-serif;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 1em;
}
.container-img {
    display: flex;
    width: 300px;
    justify-content: space-around;
    padding: 1em;
}
.footer-parrafo {
    display: flex;
    justify-content: start;
    align-items: flex-end;
}
.container-text {
    background-color: #6E77EE;
    color: #E4E4E4;
    display: flex;
    justify-content: space-evenly;
}
.footer-parrafo {
    padding: 1em;
    font-family: 'Roboto', sans-serif;
}