*{
    padding: 0;
    margin: 0;
}
.main-barra {
    display: flex;
    justify-content: space-between;
    height: 70px;
    background-color: #070e62;
    align-items: center;
}
.main-barra h1 {
    margin-left: 5vw;
}
.main-barra-links{
    display: flex;
    align-items: center;
    gap: 3vw;
    margin-right: 8vw;
}
.main1{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 500px;
    background: url('../images/main/fondo.jpg');
    background-color: #1a1a1a;
    margin: 0;
}
.main1 .parrafos p{
    color: rgb(0, 0, 0);
    font-family: 'Montserrat', sans-serif;
    margin-left: -80px;
}
.main1 .title{
    margin-top: -170px;
    margin-left: 50px;
    font-size: 50px;
    color: white;
    font-weight: 900;
    font-family: 'Tilt Neon', sans-serif;
}
.title b {
    font-weight: 900;
    color: #11289b;
}
.img1{
    height: 300px;
}
.xo{
    height: 400px;
    animation: flotar 4s infinite;
}
@keyframes flotar{
    0%{transform: translateX(0px)}
    50%{transform: translateX(100px)}
    100%{transform: translateX(0px)}
}
.botones{
    margin-top: 50px;
    display: flex;
    margin-left: -50px;
    gap: 50px;
}
.botones button{
    height: 40px;
    width: 160px;
    font-family: 'Roboto', sans-serif;
    cursor: pointer;
    color: antiquewhite;
    border: none;
    border-radius: 20px;
    background: linear-gradient(15deg,#5a5abf,#1818f0);
    transition: .4s;
}
.botones button:hover{
    width: 180px;
    background: linear-gradient(15deg,#9f9fe9,#7272f5);
}
.main2 {
    height: 100vh;
    background-color: #d18727;
}


