.main-barra {
    display: flex;
    justify-content: space-between;
    height: 70px;
    /* background-color: rgb(99, 99, 240); */
    background-color: #050b62;
    align-items: center;
}
.main-barra h1 {
    margin-left: 5vw;
}
.main-barra-links{
    display: flex;
    align-items: center;
    gap: 3vw;
    margin-right: 8vw;
}
.link{
    color: #F9FAF5;
    text-decoration: none;
    transition: .3s;
    font-family: 'Roboto', sans-serif;
    font-weight: 200;
    cursor: pointer;
}
.link:hover{
    color: #E4E4E4;
}



@media (max-width:760px){
    .main-barra{
        flex-flow: wrap column;
        /* height: 90px; */
        padding: 1em 1em;
    }
}