.boxr{
    height: 100vh;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}
.registro{
    height: 500px;
    margin: 50px 50px;
    width: 65%;
    display: flex;
    box-shadow: 0 20px 60px #c4c0c0;
    background-color: #e3e3ee;
    justify-content: space-between;
    position: relative;
}
.a1{
    height: 100%;
    background: linear-gradient(45deg,#2e2e91,#6d6dfa);
    width: 40%;
    position: absolute;
    left: 0;
    clip-path: polygon(0 0, 100% 0, 80% 100%, 0% 100%);
    text-align: center;
    display: flex;
    padding: 40px;
    flex-direction: column;

    box-sizing: border-box;
}

.a1 h1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    color: #d5d5d8;
}
.a1 p a {
    color: #1b0847;
}
.a1 p {
    font-family: 'Montserrat', sans-serif;
    margin-top: 30px;
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
    font-size: 13px;
}
.a2{
    position: absolute;
    right: 0;
    padding: 30px;
    height: 100%;
    width: 60%;
    float: right;
    background-color: #e3e3ee;
    box-sizing: border-box;
}
.a2 h1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: #3f3f44;
}
.a2 input{
    height: 35px;
    border: none;
    width: 200px;
    border-radius: 7px;
    color: #666464;
    padding-left: 10px;
}
input:focus{
    border: none;
    outline: none;
}
.inputs-a1{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
    gap: 10px;
    flex-direction: column;
}
.inputs-a2{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 40px;
    gap: 10px;
    flex-direction: column;
}
.registro label{
    font-family: 'Montserrat', sans-serif;
    font-weight: 100;
}
.datos-personales{
    height: 45%;
}
.datos-cuenta{
    height: 55%;
}
.a1-a1{
    display: flex;
    gap: 90px;
}
.a1-a2{
    display: flex;
    gap: 90px;
}
.btn-enviar{
    height: 35px;
    border: none;
    border-radius: 10px;
    background-color: #111179;
    width: 100px;
    color: white;
    cursor: pointer;
    position: absolute;
    bottom: 30px;
    right: 7%;
    transition: .5s;
}
.btn-enviar:hover{
    background: linear-gradient(15deg,#1b1b72,#441481);

}


/* .boxr{
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 120px);
    background-color: #ebebeb;
    padding-bottom: 60px
}
.registro{
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 400px;
    width: 600px;
    color: #000;
    margin-top: 40px;
    padding: 60px 70px;
    border: 1px solid #8b8b8b;
    border-radius: 5px;
    transition: .5s;
    background-color: aliceblue;
}
.registro h1{
    color: #5e0505;
    font-family: 'Tilt Neon', sans-serif;
}

.rcaja input{
    height: 35px;
    width: 300px;
    display: flex;
    margin-top: 25px;
    flex-direction: column;
    transition: .4s;
}
.rcaja input:focus {
    background-color: #d6e1ec;
}

.rbtn {
    display: flex;
    font-size: 15px;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 150px;
    border: none;
    border-radius: 20px;
    background-color: rgb(222, 229, 242);
    cursor: pointer;
    margin: 30px auto;
    border: none;
    transition: .4s;
}
.rbtn:hover{
    width: 300px;
    color: rgb(0, 0, 0);
    background-color: rgb(140, 152, 147);
}
.mensaje{
    color: white;
}
.a{
    text-decoration: none;
    color: #091128;
} */



