.all{
    background-color: #000000;
}
.promos{
    display: flex;
    height: auto;
    text-align: center;
    padding: 0 15%;
    justify-content: center;
    flex-wrap: wrap;
    padding-bottom: 100px;
}
.msj-promo{
    text-align: center;
    margin-top: 30px;
    font-size: 25px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}
.subnav-ui {
    height: 40px;
    background-color: #666e80;
    
}
.subnav-ui ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
    padding-top: 9px;
    list-style: none;
    color: white;
    font-family: 'Roboto', sans-serif;
    
}

.menu-lateral{
    height: 91.6vh;
    
}
.menu-lateral aside{
    display: flex;
    padding: 15px 30px ;
    flex-direction: column;
    height: 900px;
    width: 170px;
    background-color: #ececec;
    float: left;
    box-sizing: border-box;
}
.menu-lateral p {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-weight: 900;
}
.menu-lateral ul b {
    font-weight: 100;
}
.menu-lateral ul {
    margin-top: 10px;
    margin-left: 10px;
    list-style: none;
    font-size: 14px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.menu-lateral main {
    display: flex;
    justify-content: center;
    gap: 5%;
    padding: 0 10%;
    flex-wrap: wrap;
    padding-top: 80px;
    height: 900px;
    background-color: #f0f0f0;
    box-sizing: border-box;
}
.box-talles{
    height: 150px;
    display: flex;
    justify-content: space-around;
    overflow-y: auto;
    background-color: #ececec;
}
.box-talles li {
    margin-bottom: 5px;
}
.box-precios li {
    margin-top: 8px;
}
.productos p{
    text-align: center;
    background-color:#042646;
    color: white;
    padding: 15px 0;
}
.productos ul {
    display: flex;
    height: 50px;
    background-color: #042646;
    list-style: none;
    justify-content: center;
}
.productos ul li {
    font-size: 18px;
    border-radius: 2px;
    padding: 10px 70px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    transition: .8s;
}
.productos li:hover{
    background-image: linear-gradient(15deg,#33448d,#598cbd) ;
    cursor: pointer;
}
.zapas{
    display: flex;
    justify-content: center;
    padding: 2% 0%;
    gap: 5%;
    flex-wrap: wrap;
}
.box-datos{
    height: calc(100vh - 100px);
    width: 100%;
    background-color: #1e1e1e;
    display: flex;

}
.panel{
    width: 280px;
    background-color: #2d2d2d;
    text-align: center;
    align-items: center;
    display: flex;
    color: #fff;
    flex-direction: column;
    padding-top: 20px;
}
.panel p {
    margin-top: 30px;
    cursor: pointer;
}
.panel h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: 400;
}

.panel .foto-userr{
    margin-top: 20px;
    height: 150px;
    border-radius: 50%;
    border: 2px solid #ffffff;
}
.panel .btn-volver{
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    padding-bottom: 3px;
    color: white;
    transition: .4s;
}
.btn-volver:hover{
    color: #d1d1d1;
    border-bottom: 3px solid #0051ff;
}
.cont {
    width: 70%;
    background-color: #1e1e1e;
    padding: 30px;
}
.contenido {
    display: flex;
    flex-direction: column;
    padding-left: 30px;
}
.contenido h1 {
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
}
.contenido ul {
    padding: 40px ;
    display: flex;
    gap: 40px;
    list-style: none;
    color: whitesmoke;
    font-family: 'Montserrat', sans-serif;
}
.datosp .p{
    margin-top: 25px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
    font-weight: 100;
    color: whitesmoke;
}
.datosc .p{
    margin-top: 55px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
    font-weight: 100;
    color: whitesmoke;
}
.datosp input {
    height: 35px;
    width: 220px;
    background-color: #3d3d3d;
    border: none;
    margin-top: 5px;
    border-radius: 5px;
    color: #b8b8b8;
    padding-left: 10px;
}
.datosc ul {
    display: flex;
    flex-direction: column;
}
.datosc .we {
    height: 35px;
    width: 270px;
    background-color: #3d3d3d;
    border: none;
    margin-top: 5px;
    border-radius: 5px;
    color: #b8b8b8;
    padding-left: 10px;
}
.datosc input {
    height: 30px;
    width: 200px;
    background-color: #3d3d3d;
    border: none;
    margin-top: 5px;
    border-radius: 5px;
    color: #b8b8b8;
    padding-left: 10px;
}
.eliminar-cuenta{
    border: none;
    border-radius: 10px;
    height: 40px;
    width: 170px;
    margin-top: -10px;
    font-size: 15px;
    color: #000000;
    background-color: #d17979;
    cursor: pointer;
    transition: .5s;
}
.eliminar-cuenta:hover{
    width: 180px;
    color: #ffffff;
    background-color: red;
}
.img-edit {
    height: 20px;
    margin-top: 5px;
    filter: invert(100%);
    cursor: pointer;
    transition: .3s;
}
.img-edit:hover{
    filter: invert(80%);
}



















/* .verDatosUsuario{
    width: 100%;
}
.verDatosUsuario ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 40vh;
    padding: 40px 0;
    background: linear-gradient(25deg,#4f68b9,#1254cd);
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    border-radius: 5px;
    list-style: none;
    font-size: 25px;
}
.verDatosUsuario  ul h2{
    font-size: 30px;
    font-weight: 900;
    font-family: 'Montserrat', sans-serif;
}
.verDatosUsuario li {
    line-height: 2;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
}
.verDatosUsuario ul p {
    font-size: 23px;
}
.titulo-datos{
    display: flex;
}
.btn-actualizar{
    margin-left: 10px;
    height: 30px;
    width: 100px;
    border: none;
    border-radius: 10px;
    background: linear-gradient(15deg,#300b85,#002a84);
    cursor: pointer;
    color: white;
    padding: 5px 10px;
    transition: all .5s;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.btn-actualizar:hover{
    border-radius: 20px;
    background: linear-gradient(30deg,#242b54,rgb(58, 58, 181));
}
.btn-eliminar{
    margin-left: 10px;
    height: 30px;
    width: 150px;
    border: none;
    border-radius: 20px;
    background-color: #961515;
    cursor: pointer;
    color: #ffffff;
    padding: 5px 10px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
} */




