.all{
    background-color: #f3eeee;
}
.saludo{
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
}
.promos{
    display: flex;
    height: auto;
    text-align: center;
    padding: 0 15%;
    justify-content: center;
    flex-wrap: wrap;
    padding-bottom: 100px;
}
.msj-promo{
    text-align: center;
    margin-top: 30px;
    font-size: 25px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}
.productos p{
    text-align: center;
    background-color:#042646;
    color: white;
    padding: 15px 0;
    
}
.productos ul {
    display: flex;
    height: 50px;
    background-color: #042646;
    list-style: none;
    justify-content: center;
}
.productos ul li {
    font-size: 18px;
    border-radius: 2px;
    padding: 10px 70px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    transition: .8s;
}
.productos li:hover{
    background-image: linear-gradient(15deg,#33448d,#598cbd) ;
    cursor: pointer;
}

.zapas{
    display: flex;
    justify-content: center;
    padding: 2% 8%;
    gap: 9%;
    flex-wrap: wrap;
}
.verDatosUsuario{
    width: 100%;
}
.verDatosUsuario ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 40vh;
    padding: 40px 0;
    background-color: #145da1;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    border-radius: 5px;
    list-style: none;
    font-size: 25px;
}
.verDatosUsuario li {
    line-height: 2;
}
.titulo-datos{
    display: flex;
}
.btn-actualizar{
    cursor: pointer;
    padding: 5px 10px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.btn-eliminar{
    cursor: pointer;
    padding: 5px 10px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #c01616;
}


