.all{
    background-color: #f3eeee;
}
.saludo{
    text-align: center;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
}
.promos{
    display: flex;
    height: auto;
    text-align: center;
    gap: 5%;
    padding: 0 15%;
    justify-content: center;
    flex-wrap: wrap;
    padding-bottom: 100px;
}
.msj-promo{
    text-align: center;
    margin-top: 30px;
    font-size: 25px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}
.productos ul {
    display: flex;
    list-style: none;
    gap: 20%;
    justify-content: center;
    margin: 3% 0 ;
}
.productos ul li {
    font-size: 18px;
    border: 1px solid black;
    background-image: linear-gradient(15deg,#33448d,#145da1) ;
    border-radius: 20px;
    padding: 10px 50px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    transition: .8s;
}
.productos li:hover{
    background-image: linear-gradient(15deg,#33448d,#598cbd) ;
    cursor: pointer;
}











